.idea/*
*.iml
IlluminatedCloud
*.ipr
*.iws
node_modules

node_modules/*
/.idea/*
/node_modules
/IlluminatedCloud

**/.sfdx/**
**/.vscode
**/.yarn
**/.vscode/*.code-workspace
**/.vscode/tasks.json
**/.vscode/settings.json

coverage
junit.xml
eslint-junit.xml
/force-app/*/dev