:host>div {
    display: block;
    padding: var(--lwc-spacingXxSmall);
    margin: 1px;
}

.editable:hover {
    background-color: white;
}

.edit-button {
    visibility: hidden;
}

:host:hover .edit-button {
    visibility: visible;
    opacity: .5;
}