:host {
    position: absolute !important;
    min-width: 100%;
    z-index: 1; 
    top: 0; 
    display:block; 
    background-color:white;
    border: 1px solid lightgray;
    padding: var(--lwc-spacingXxSmall);
}

.label-hideen

lightning-combobox {
    min-width: 100%;
}