.slds-panel
{
    height:100%;
    transition: max-width 0.1s linear;
    max-width:0%;
    display:block;
    min-width:0;
    overflow: hidden;
}
.table-wrapper
{
    max-width:100%;
    transition: max-width 0.1s linear;
}
.is-expanded .slds-panel
{
    display:block;
    max-width:15%;
}
.is-expanded .table-wrapper
{
    max-width:85%;
}